/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}


/*
 * Main content
 */

.main {
	padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	display: inline-block;
	border-radius: 50%;
}
.nav>li>a {
	position: relative;
	display: block;
	padding: 15px 50px;
}
form.navbar-form {
	text-indent: 15rem;
}
@media (max-width: 1124px){
	.nav>li>a {
		padding: 15px 40px;
	}
}
@media (max-width: 987px){
	.nav>li>a {
		padding: 15px 25px;
	}
}
@media (max-width: 873px){
	.nav>li>a {
		padding: 15px 15px;
	}
}
@media (max-width: 791px){
	.nav>li>a {
		padding: 15px 10px;
	}
}

h1.title {
	padding-bottom: 20px;
	border-bottom:  1px solid #ccc;
}
li.list-group-item {
	cursor: pointer;
}
/*分页栏居中*/
.pagination {
	width: 270px;
	margin: 50px auto;
	display: block;
	cursor: pointer;
}

/*loading*/
#loading{
	/*background-color: rgba(0,0,0,0.6);*/
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
}
#loading h2 {
	text-align: center;
	color: #428bca;
	position: absolute;
	left: 0;
	right: 0;
	margin: 233px auto;
	text-indent: -10em;
	font-size: 20px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 150px;
	width: 150px;
	margin-top: -75px;
	margin-left: -175px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.object{
	width: 15px;
	height: 15px;
	background-color: #428bca;
	position: absolute;
	left: 30px;
	top: 30px;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
}
.object:nth-child(2n+0) {
	margin-right: 0px;

}
#object_one {
	-webkit-animation: object_one 2s infinite;
	animation: object_one 2s infinite;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
#object_two {
	-webkit-animation: object_two 2s infinite;
	animation: object_two 2s infinite;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
#object_three {
	-webkit-animation: object_three 2s infinite;
	animation: object_three 2s infinite;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
#object_four {
	-webkit-animation: object_four 2s infinite;
	animation: object_four 2s infinite;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
#object_five {
	-webkit-animation: object_five 2s infinite;
	animation: object_five 2s infinite;
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
#object_six {
	-webkit-animation: object_six 2s infinite;
	animation: object_six 2s infinite;
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
#object_seven {
	-webkit-animation: object_seven 2s infinite;
	animation: object_seven 2s infinite;
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
#object_eight {
	-webkit-animation: object_eight 2s infinite;
	animation: object_eight 2s infinite;
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
#object_big{

	position: absolute;
	width: 30px;
	height: 30px;
	left: 19px;
	top: 20px;
	-webkit-animation: object_big 2s infinite;
	animation: object_big 2s infinite;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
@-webkit-keyframes object_big {
	50% { -webkit-transform: scale(0.5); }

}

@keyframes object_big {
	50% {
		transform: scale(0.5);
		-webkit-transform: scale(0.5);
	}

}
@-webkit-keyframes object_one {
	50% { -webkit-transform: translate(-30px,-30px)  ; }
}
@keyframes object_one {
	50% {
		transform: translate(-30px,-30px) ;
		-webkit-transform: translate(-30px,-30px) ;
	}

}
@-webkit-keyframes object_two {
	50% { -webkit-transform: translate(0,-30px) ; }
}

@keyframes object_two {
	50% {
		transform: translate(0,-30px) ;
		-webkit-transform: translate(0,-30px) ;
	}

}
@-webkit-keyframes object_three {
	50% { -webkit-transform: translate(30px,-30px) ; }
}

@keyframes object_three {
	50% {
		transform: translate(30px,-30px) ;
		-webkit-transform: translate(30px,-30px) ;
	}
}

@-webkit-keyframes object_four {

	50% { -webkit-transform: translate(30px,0) ; }

}
@keyframes object_four {
	50% {
		transform: translate(30px,0) ;
		-webkit-transform: translate(30px,0) ;
	}
}
@-webkit-keyframes object_five {
	50% { -webkit-transform: translate(30px,30px) ; }
}
@keyframes object_five {
	50% {
		transform: translate(30px,30px) ;
		-webkit-transform: translate(30px,30px) ;
	}
}
@-webkit-keyframes object_six {

	50% { -webkit-transform: translate(0,30px) ; }

}
@keyframes object_six {
	50% {
		transform:  translate(0,30px) ;
		-webkit-transform:  translate(0,30px) ;
	}
}
@-webkit-keyframes object_seven {

	50% { -webkit-transform: translate(-30px,30px) ; }

}
@keyframes object_seven {
	50% {
		transform: translate(-30px,30px) ;
		-webkit-transform: translate(-30px,30px) ;
	}

}
@-webkit-keyframes object_eight {

	50% { -webkit-transform: translate(-30px,0) ; }

}

@keyframes object_eight {
	50% {
		transform: translate(-30px,0) ;
		-webkit-transform: translate(-30px,0) ;
	}

}
